@font-face {
  font-family: AlibabaPuHuiTi-3-55-RegularL3;
  src: url(/src/assets/font/AlibabaPuHuiTi-3/AlibabaPuHuiTi-3-55-Regular/AlibabaPuHuiTi-3-55-Regular.woff2) format('woff2');
}

@font-face {
  font-family: AlibabaPuHuiTi-3-65-Medium;
  src: url(/src/assets/font/AlibabaPuHuiTi-3/AlibabaPuHuiTi-3-65-Medium/AlibabaPuHuiTi-3-65-Medium.woff2) format('woff2');
}

@font-face {
  font-family: AlibabaPuHuiTi-3-75-SemiBold;
  src: url(/src/assets/font/AlibabaPuHuiTi-3/AlibabaPuHuiTi-3-75-SemiBold/AlibabaPuHuiTi-3-75-SemiBold.woff2) format('woff2');
}

@font-face {
  font-family: AlimamaDaoLiTi;
  src: url(/src/assets/font/AlimamaDaoLiTi/AlimamaDaoLiTi.woff2) format('woff2');
}

@font-face {
  font-family: AlimamaShuHeiTi-Bold;
  src: url(/src/assets/font/AlimamaShuHeiTi-Bold/AlimamaShuHeiTi-Bold.woff2) format('woff2');
}


